/*  ГЛАВНОЕ */

:root {
    --primary-text-color: #212121;
    --interactive-color: #2196F3;
    --secondary-text-color: #757575;
    --background-text-color: #FFFFFF;
    --logo-color-header: #000000;
    --footer-backgroud-color: #2F303A;
    --background-section-color: #F5F4FA;
    --border-color: #EEEEEE;
}

body {
    background-color: var(--background-text-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.container {
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    text-align: center;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    }

.section {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--background-text-color)
    }

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    }

p {
    margin-top: 0;
    margin-bottom: 0;
    }

ul {
    margin-top: 0;
    margin-bottom: 0;
}

/* ЛОГОТИП */

.halflogo {
    color: var(--interactive-color);
}

.logo {
    color: var(--logo-color-header);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
}

.footer {
    color: var(--background-text-color);
}

.link {
    text-decoration: none;
}

/* ХЕДЕР */

.divheader {
    display: flex;
    color: var(--secondary-text-color);
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.14;
    border-bottom: 1px solid #ECECEC;
}

.navfooter {
    display: flex;
    align-items: center;
}

.ulnavigationone {
    display: flex;
    list-style: none;
    margin-left: 93px;
}

.linavigationone {
    margin-right: 50px;
}

.ulnavigationone a {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    color: var(--primary-text-color);
}

.linavigationone:last-child {
    margin-right: 344px;
}

.linavigationone:first-child {
    margin-left: -40px;
}

.ulnavigationtwo {
    display: flex;
    list-style: none;
}

.linavigationtwo:last-child {
    margin-left: 50px;
}

.linavigationtwo:first-child {
    margin-left: -40px;
}

.ulnavigationone .link:hover,
.ulnavigationone .link:focus {
    color: var(--interactive-color);
}

/* ГЛАВНАЯ СЕКЦИЯ */

.divmainsection {
    padding-top: 200px;
    padding-bottom: 200px;
}

.main {
    padding-top: 0;
    padding-bottom: 0;
    background-color: var(--footer-backgroud-color)
}

.main-title {
    color: var(--background-text-color);
    letter-spacing: 0.06em;
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
}

/* Секция 2 */

.ulsectiontwo {
    display: flex;
    padding: initial;
}

.lisectiontwo {
    width: 270px;
    margin-right: 30px;
    list-style: none;
    background-color: var(--background-text-color);
    text-align: left;
}

.lisectiontwo:last-child {
    margin-right: 0;
}

.lisectiontwo:first-child {
    margin-left: 0;
}

.two {
    padding-bottom: 0;
}

.titletwosection {
    color: var(--primary-text-color);
    font-weight: 700;
    line-height: 1.14;
    margin-bottom: 10px;
    font-size: 14px;
}

.section .pluses {
    color: var(--secondary-text-color);
    line-height: 1.71;
}

/* Секция 3 */

.divsectionthree {
    padding-bottom: 94px;
}

.ulsectionthree {
    display: flex;
    padding: initial;
    list-style: none;
}

.lisectionthree {
    margin-right: 30px;
    background-color: var(--border-color)
}

.lisectionthree:last-child {
    margin-right: 0;
}

.three {
    padding-bottom: 0;
}

.titlesectionthree {
    font-size: 36px;
    line-height: 1.16;
    font-weight: 700;
    margin-bottom: 50px;
}

/* Секция 4 */

.divsectionfour {
    background-color: var(--background-section-color)
}

.ulsectionfour {
    display: flex;
    padding: initial;
    list-style: none;
}

.lisectionfour {
    margin-right: 30px;
    background-color: var(--background-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.lisectionfour:last-child {
    margin-right: 0;
}

.titlexectionfour {
    font-weight: 700;
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
}

.section .name {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-top: 30px;
}

.section .profession {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.19;
    margin-top: 10px;
    margin-bottom: 30px;
}

/* СЕКЦИЯ 5 (Кнопки) */

.ulbuttonfive {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.libuttonfive {
    margin-right: 8px;
    margin-bottom: 50px;
}

.libuttonfive:last-child {
    margin-right: 298px;
}

.libuttonfive:first-child {
    margin-left: 297px;
}

/* Секция 5 (Портфолио) */


.ulfive {                    /* !!! ИДЕАЛ НАЧАЛО !!! */
    display: flex;          /* В случае изменения ширины макета меняем ширину в divfive и container, узнаем кол-во и размер отступов (формула) + плюс кол-во елементов в строке */
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
}

.lifive {
    width: calc((100% - 2 * 30px) / 3);
    background-color: var(--background-text-color);
    margin-right: 30px;
    margin-bottom: 30px;
}

.lifive:nth-child(3n) {
    margin-right: 0;
}

.lifive:nth-last-child(-n + 3) {                    /* !!! ИДЕАЛ КОНЕЦ !!! */                                    
    margin-bottom: 0;
}

.section .project {
    color: var(--primary-text-color);
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    padding-top:  20px;
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
}

.section .kind {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.88;
    padding-top: 4px;
    padding-bottom: 20px;
    border-right: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

/* ФУТЕР */

.divfooter {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 60px;
    background-color: var(--footer-backgroud-color);
    text-align: left;
}

.ulfooter {
    display: block;
    flex-wrap: wrap;
    padding: initial;
}

.lifooter {
    margin-bottom: 9px;
    list-style: none;
}

.lifooter:last-child{
    padding-bottom: 0;
}

.addresslink {
    color:#FFFFFF;
}

.address {
    font-style: normal;
    margin-top: 20px;
}

/* ПОДСВЕТКА АКТИВНОГО СЕГМЕНТА НАВИГАЦИИ*/

.link.current {
    color: var(--interactive-color);
}

/* КОНТАКТЫ */

.contacts-header {
    color: var(--secondary-text-color);
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contacts-header:hover,
.contacts-header:focus {
    color: var(--interactive-color);
}

.contacts-footer {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

/* КНОПКИ */

.button-primary {
    color: var(--background-text-color);
    background-color: var(--interactive-color);
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 130px;
    border: 0 solid transparent;
    margin-top: 30px;
}

.button-primary:hover,
.button-secondary:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--interactive-color);
}

.button-secondary {
    font-family: inherit;
    color: var(--primary-text-color);
    background-color: var(--background-section-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 22px;
    border: 0 solid transparent;
}

.button-secondary:hover,
.button-secondary:focus {
    background-color: var(--interactive-color);
    color: var(--background-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* СПРЯТАННЫЙ ЕЛЕМЕНТ */ 

.hidden {
    position: absolute;
    white-space: nowrap;
    width: 0;
    height: 0;
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}