:root {
    --primary-text-color: #212121;
    --interactive-color: #2196F3;
    --secondary-text-color: #757575;
    --background-text-color: #FFFFFF;
    --logo-color-header: #000000;
    --logo-color-footer: #FFFFFF;
    --address-backgroud-color: #2F303A;
    --background-section-color: #F5F4FA;
}

body {
    background-color: var(--background-text-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.logo-header {
    color: var(--logo-color-header);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-footer {
    color: var(--logo-color-footer);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.page-footer {
    background-color: var(--address-backgroud-color);
}

.halflogo {
    color: var(--interactive-color);
}

.navigation .link {
    color: var(--primary-text-color);
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.14;
    text-decoration: none;
}

.navigation .link:hover,
.navigation .link:focus {
    color: var(--interactive-color);
}

.link.current {
    color: var(--interactive-color);
}

.list {
    list-style: none;
}

.contacts-header {
    color: var(--secondary-text-color);
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.14;
    text-decoration: none;
}

.contacts-header:hover,
.contacts-header:focus {
    color: var(--interactive-color);
}

.button-primary {
    color: var(--background-text-color);
    background-color: var(--interactive-color);
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
}

.button-secondary {
    font-family: inherit;
    color: var(--primary-text-color);
    background-color: var(--background-section-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    cursor: pointer;
}       

.button-secondary:hover,
.button-secondary:focus {
    background-color: var(--interactive-color);
    color: var(--background-text-color);
}

.section-one {
    background-color: var(--address-backgroud-color);
}

.main-title {
    color: var(--background-text-color);
    letter-spacing: 0.06em;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    font-weight: 900;
} 

.third-title {
    color: var(--primary-text-color);
    font-weight: 700;
    line-height: 1.14;
}

.section-two .pluses {
    color: var(--secondary-text-color);
    line-height: 1.71;
}

.section-three {
    color: var(--primary-text-color);
    text-align: center;
}

.four-title {
    font-size: 36px;
    line-height: 1.16;
    font-weight: 700;
}

.section-four {
    text-align: center;
    background-color: var(--background-section-color);
}

.five-title {
    font-weight: 700;
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.16;
}

.section-four .name {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.section-four .profession {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.19;
}

.section-five {
    text-decoration: none;
}

.section-five .project {
    color: var(--primary-text-color);
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
}

.section-five .kind {
    color: var(--secondary-text-color);
    font-size: 18px;
    line-height: 1.88;
}

.address {
    color: var(--background-text-color);
    line-height: 1.71;
    background-color: var(--address-backgroud-color);
    font-style: normal;
}

.contacts-footer {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.contacts-footer:hover,
.contacts-footer:focus {
    color: var(--interactive-color);
}

.address .list .link {
    color: var(--background-text-color);
}

.link {
    text-decoration: none;
}

.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
    }