:root {
    --primary-text-color: #212121;
    --interactive-color: #2196F3;
    --secondary-text-color: #757575;
    --background-text-color: #FFFFFF;
    --logo-color-header: #000000;
    --logo-color-footer: #FFFFFF;
    --address-backgroud-color: #2F303A;
    --background-section-color: #F5F4FA;
}

body {
    background-color: var(--background-text-color); 
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

.logo-header {
    color: var(--logo-color-header);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-footer {
    color: var(--logo-color-footer);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.halflogo {
    color: var(--interactive-color);
}

.navigation .link {
    color: var(--primary-text-color);
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.14;
    text-decoration: none;
}

.navigation {
    display: flex;
    padding-left: 0;
}

.navigation li {
    margin-right: 50px;            /* Студія - Портфоліо - Контакти */
}

.navigation .link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
}



.link.current {
    color: var(--interactive-color);
}

.list {
    display: flex;
    list-style: none;
    padding-left: 0; /*!!!!!!*/
}

.contacts-header {
    color: var(--secondary-text-color);
    letter-spacing: 0.02em;
    text-decoration: none;
}

.listcontactsheaderone {
    margin-left: 344px;
    margin-right: 50px;
}

.listcontactsheadertwo {
    margin-right: 15px;
}

.contacts-header:hover,
.contacts-header:focus {
    color: var(--interactive-color);
}

.button-primary {
    color: var(--background-text-color);
    background-color: var(--interactive-color);
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 130px;
    border: 0 solid transparent;
    margin-top: 30px;
    margin-bottom: 200px;
}

.button-secondary {
    font-family: inherit;
    color: var(--primary-text-color);
    background-color: var(--background-section-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 22px;
    border: 0 solid transparent;
}       

.button-secondary:hover,
.button-secondary:focus {
    background-color: var(--interactive-color);
    color: var(--background-text-color);
}

.main-title {
    color: var(--logo-color-footer);
    letter-spacing: 0.06em;
    font-size: 44px;
    line-height: 1.36;
    font-weight: 900;
    text-align: center;
} 

.third-title {
    color: var(--primary-text-color);
    font-weight: 700;
    line-height: 1.14;
    margin-bottom: 10px;
    font-size: 14px;
}

.section .pluses {
    color: var(--secondary-text-color);
    line-height: 1.71;
}

.four-title {
    font-size: 36px;
    line-height: 1.16;
    font-weight: 700;
    margin-bottom: 50px;
}

.five-title {
    font-weight: 700;
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
}

.section .name {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-top: 30px;
}

.section .profession {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.19;
    margin-top: 10px;
    margin-bottom: 30px;
}

.section .project {
    color: var(--primary-text-color);
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    margin-top: 20px;
}

.section .kind {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.88;
    margin-top: 4px;
    margin-bottom: 20px;
}

.address {
    font-style: normal;
    margin-top: 20px;
}

.contacts-footer {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.contacts-footer:hover,
.contacts-footer:focus {
    color: var(--interactive-color);
}

.address .list .link {
    color: var(--background-text-color); 
}

.link {
    text-decoration: none;
}

.hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
    }

.container {
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
    
    }

.section {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: purple;
    text-align: center;
    text-decoration: none;
    }

.main {
    padding-top: 0;
    padding-bottom: 0;
    background-color: purple;
    text-align: center;
    text-decoration: none;
    }

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
    }

p {
    margin-top: 0;
    margin-bottom: 0;
    }

ul {
    margin-top: 0;
    margin-bottom: 0;
}

.footer {
    display: block;
    margin-left: 15px;
}

.second {
    text-align:left;
    margin-left: 15px;
    margin-right: 30px;
}

/* Секция 2 (РАСПОЛОЖЕНИЕ)*/

.divsectiontwo {
    width: 1200px;
    outline: 2px solid rgb(229, 255, 0);
}

.ulsectiontwo {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
}

.lisectiontwo {
    width: 270px;
    margin-right: 30px;
    list-style: none;
    background-color: #EEEEEE;
    text-align: left;
}

.lisectiontwo:last-child {
    margin-right: 0;
}

.lisectiontwo:first-child {
    margin-left: 0;
}

.two {
    padding-bottom: 0;
}

/* Секция 3 (РАСПОЛОЖЕНИЕ)*/

.divsectionthree {
    width: 1200px;
    outline: 2px solid rgb(229, 255, 0);
    padding-bottom: 30px;
}

.ulsectionthree {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
}

.lisectionthree {
    margin-right: 30px;
    background-color: #EEEEEE;
    text-align: left;
}

.lisectionthree:last-child {
    margin-right: 0;
}

.lisectionthree:first-child {
    margin-left: 0;
}

.three {
    padding-bottom: 0;
}

/* Секция 4 (РАСПОЛОЖЕНИЕ)*/

.divsectionfour {
    width: 1200px;
    outline: 2px solid rgb(229, 255, 0);
}

.ulsectionfour {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    list-style: none;
}

.lisectionfour {
    margin-right: 30px;
    background-color: #EEEEEE;
    text-align: center;
}

.lisectionfour:last-child {
    margin-right: 0;
}

.lisectionfour:first-child {
    margin-left: 0;
}

/* СЕКЦИЯ 5 Кнопки (РАСПОЛОЖЕНИЕ) */

.divbuttonfive {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid rgb(229, 255, 0);
}

.ulbuttonfive {
    display: flex;
    flex-wrap: wrap;
}

.libuttonfive {
    margin-right: 8px;
    margin-bottom: 50px;
}

.libuttonfive:last-child {
    margin-right: 298px;
}

.libuttonfive:first-child {
    margin-left: 297px;
}

/* Секция 5 (Портфолио) */

.divfiltrfive {                     /* !!! ИДЕАЛ НАЧАЛО !!! */
    width: 1200px;                  /* В случае изменения ширины макета меняем ширину в divfive и container, узнаем кол-во и размер отступов (формула) + плюс кол-во елементов в строке */
    padding-left: 15px;             
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid rgb(229, 255, 0);
}

.ulfive {
    display: flex;
    flex-wrap: wrap;
}

.lifive {
    width: calc((100% - 2 * 30px) / 3);
    background-color: #EEEEEE;
    margin-right: 30px;
    margin-bottom: 30px;
}

.lifive:nth-child(3n) {
    margin-right: 0;
}

.lifive:nth-last-child(-n + 3) {                    /* !!! ИДЕАЛ КОНЕЦ !!! */                                    
    margin-bottom: 0;
}

/* ФУТЕР */

.divfooter {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid rgb(229, 255, 0);
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 60px;
    background-color: var(--address-backgroud-color);
}

.ulfooter {
    display: block;
    flex-wrap: wrap;
}

.lifooter {
    margin-bottom: 9px;
    list-style: none;
    margin-left: -40px;
}

.addresslink {
    color:#FFFFFF;
}

/* ГЛАВНАЯ СЕКЦИЯ */

.divmainsection {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid rgb(229, 255, 0); */
    padding-top: 200px;
}

/* ХЕДЕР */

.divheader {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
   /* outline: 2px solid rgb(229, 255, 0); */
    display: flex;
    align-items: center;
    color: var(--secondary-text-color);
    letter-spacing: 0.02em;
    font-weight: 500;
    line-height: 1.14;
    text-decoration: none;
    margin: auto;
    border-bottom: 1px solid #ECECEC;
}

.navfooter { 
    display: flex;
    align-items: center;
    margin-right: auto;
}

.ulnavigationone {
    display: flex;
    list-style: none;
    margin-left: 93px;  
}

.linavigationone {
    margin-right: 50px;
}

.ulnavigationone a {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    color: var(--primary-text-color);
}

.linavigationone:last-child {
    margin-right: 344px;
}

.linavigationone:first-child {
    margin-left: -40px;
}

.ulnavigationtwo {
    display: flex 
}

.linavigationtwo {
    list-style: none;
}

.linavigationtwo:last-child {
    margin-left: 50px;
}

.linavigationtwo:first-child {
    margin-left: -40px;
}

.ulnavigationone .link:hover,
.ulnavigationone .link:focus {
    color: var(--interactive-color);
}
